
 .input-form{
    font-size: 20px;
  }


.seller-form {
    text-align: center;
    border: 5px solid rgb(52, 147, 211);
    background: linear-gradient(to right, #4286f4, #3c5ead);
    height: 400px;
}

.seller-form h5 {
    color:white;
    font-size: 20px;
    padding: 1em;
   
  }

.formBox{
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .formBox > input {
      width: 150px;
      text-align: center;
        border-bottom: 1px sold black !important;

  }

  .formBox > label {
      color:rgba(255, 255, 255, 0.849);
      margin: 1rem;  
  }

  .formInput { 
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.863);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    /* text-align: left; */
    color: inherit;
  }